<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар — БудМайстер</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/vendor/fa/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="header-placeholder"></div>

    <div class="product-page" id="product-page-container"></div>

    <div id="footer-placeholder"></div>

    <script src="/static/js/api.js"></script>
    <script src="/static/js/js.js"></script>
</body>

</html>
